.post{
    background-color: $colorPrimario;
    border-radius: 5px;
    padding: 10px;
    color: white;
    button {
        border: 0;
        padding: 10px 20px;
        background-color: $colorSecundario;
        color: $colorBlanco
    }
    h5{
        font-size: $fuenteTamanioTitulo;
    }
    p{
        font-size: 18px;
    }

}